{% extends "base.html" %}

{% block title %}Резюме{% endblock %}

{% block content %}
    <nav>
        <ul>
            <li><a href="#about">Про себе</a></li>
            <li><a href="#education">Освіта</a></li>
            <li><a href="#skills">Навички</a></li>
            <li><a href="#experience">Досвід роботи</a></li>
        </ul>
    </nav>

    <section id="about">
        <h2>Резюме</h2>
        <p>Короткий опис.</p>
        <img src="path/to/your/image.jpg" alt="Моє фото">
    </section>
    
    <section id="education">
        <h2>Освіта</h2>
        <p>Опис  освіти.</p>
    </section>
    
    <section id="skills">
        <h2>Навички</h2>
        <ul>
            <li>Навичка 1</li>
            <li>Навичка 2</li>
            <li>Навичка 3</li>
        </ul>
    </section>
    
    <section id="experience">
        <h2>Досвід роботи</h2>
        <p>Опис досвіду роботи або проекти, в яких брали участь.</p>
    </section>
{% endblock %}
