{% extends "base.html" %}

{% block title %}Резюме{% endblock %}

{% block content %}
    <nav>
        <ul>
            <li><a href="#about">Про себе</a></li>
            <li><a href="#education">Освіта</a></li>
            <li><a href="#skills">Навички</a></li>
            <li><a href="#experience">Досвід роботи</a></li>
        </ul>
    </nav>

    <section id="about">
        <h2>Про себе</h2>
        <p>Данилюк Олександр 19 років. Cтудент ПНУ .</p>
        <img src="{{ url_for('static', filename='images/my_photo.jpeg') }}" alt="Моє фото" class="img">
    </section>
    
    <section id="education">
        <h2>Освіта</h2>
        <p>Повна середня.</p>
        <p>Бакалавр, Інженерія Програмного Забезпечення</p>
    </section>
    
    <section id="skills">
        <h2>Навички</h2>
        <ul>
            <li>Вивчаю Spring Boot</li>
            <li>Вивчаю python + flask</li>
        
        </ul>
    </section>
    
    <section id="experience">
        <h2>Навчаюсь в ПНУ, працюю над проектом</h2>
        <p>.</p>
    </section>
{% endblock %}
